.jumbotron {
  margin: 10px;
  background-image: url("../images/vineyard-italy-wine.jpg");
  background-position: fixed;
  margin-bottom: 8px;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.jumbotron p {
  color: white;
  font-family:serif;
  font-size: 20px;
}

.list {
  color: blue;
  font-family: serif;
  font-size: 20px;
  list-style: none;
}

.well {
  background-color: coral;
}


.well p {
  font-size: 20px;
  font-family: serif;
  color: blue;
}

.panel {
  padding: 10px;
}

.panel h2 {
  font-size: 25px;
  font-family: sans-serif;
}

.panel p {
  font-family: serif;
  font-size: 20px;
  color: blue;
}

h3 {
  color: red;
  font-family: sans-serif;
}

p {
  font-size: 20px;
  font-family: serif;
  color: blue;
}

body {
 background-color: 	#ffcccc;
}

.footer {
  background-color: coral;
  padding: 3px;
  text-align: justify;
  margin: 3px;
}
